<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
      <header class="site-header">
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/blog">Blog</a></li>
          </ul>
      </nav>
    </header>

      <div class="container">
      
      {{ content }}
      
      </div><!-- /.container -->
      <footer>
          <ul>
              <li><a href="mailto:kshaligram@gmail.com">email</a></li>
              <li><a href="https://github.com/shaligramk">github.com/shaligramk</a></li>
        </ul>
      </footer>
    </body>
  </html>