<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="description" content="Shawn Shaligram - Test Automation Blog">
      <meta name="google-site-verification" content="+nxGUDJ4QpAZ5l9Bsjdi102tLVC21AIh5d1Nl23908vVuFHs34=">
      <title>Shawn Shaligram - Test Automation Blog </title>
      <meta name="robots" content="noindex,nofollow">
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7313255608839171"
     crossorigin="anonymous"></script>
    </head>
    <body>
      <header class="site-header">
      <nav>
          <ul>
              <li><a class="page-link" href="/">Home</a></li>
              <li><a class="page-link" href="/blog">Blog</a></li>
          </ul>
      </nav>
    </header>

      <div class="container">
      
      {{ content }}
      
      </div><!-- /.container -->
      <footer>
          <ul>
              <li><a href="mailto:kshaligram@gmail.com">email</a></li>
              <li><a href="https://github.com/shaligramk">github.com/shaligramk</a></li>
        </ul>
      </footer>
    </body>
  </html>